
.grandpa{
    height: 300px;
    width: 300px;
    background-color: aqua;
    padding: 30px;

}
.parent{
    height: 200px;
    width: 200px;
    background-color: red;
    padding: 20px;
}
.child{
    height: 100px;
    width: 100px;
    background-color: green;
}